<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="poliwangi.ac.id.dtsapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="poliwangi.ac.id.dtsapp.ProfileActivity"></activity>
        <activity android:name="poliwangi.ac.id.dtsapp.HomeActivity" />
        <activity android:name="poliwangi.ac.id.dtsapp.RegisterActivity" />
        <activity android:name="poliwangi.ac.id.dtsapp.SuccessActivity" />
        <activity android:name="poliwangi.ac.id.dtsapp.ResetPasswordActivity" />
        <activity android:name="poliwangi.ac.id.dtsapp.ForgotPasswordActivity" />
        <activity android:name="poliwangi.ac.id.dtsapp.WelcomeBackActivity" />
        <activity android:name="poliwangi.ac.id.dtsapp.WelcomeSlideAssignActivity" />
        <activity android:name="poliwangi.ac.id.dtsapp.WelcomeSlideSuperheroActivity" />
        <activity android:name="poliwangi.ac.id.dtsapp.WelcomeSlideCalendarActivity" />
        <activity android:name="poliwangi.ac.id.dtsapp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>